/.idea
out_dir
out_dir_basketball_reference
out_dir_headings
merged_tables
lucene_indexes_global_custom
player_pages
player_pages_test
player_tsv
player_tsv_min
player_tsv_test
index_out
Odovzdanie_1_Vitarius
index
index_2
Odovzdanie_1_Vitarius.zip
player_tsv_spark
player_tsv_wiki_test
player_tsv_with_wiki
player_tsv_wiki_final
wiki_lucene_index